@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f3f6f2;
    --color-secondary: #8c8680;
    --color-tertiary: #ffeccc;
    --color-bg: #1a191a;
  }
}

.text-stoke {
  text-shadow:
    -1px 1px 0 var(--color-primary),
    1px 1px 0 var(--color-primary),
    1px -1px 0 var(--color-primary),
    -1px -1px 0 var(--color-primary);
}

.text-stoke--black {
  text-shadow:
    -5px 5px 0 var(--color-bg),
    5px 5px 0 var(--color-bg),
    5px -5px 0 var(--color-bg),
    -5px -5px 0 var(--color-bg);
}

/* Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
